


.info-content .name {
  width: 13ch;
  animation: typing 3s steps(13), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.info-content .title {
 width: 30ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}

body {
 
  background-color: currentcolor;
  color: grey;
  
}

.light-mode {
  background-color: grey;
  color: currentcolor;
}


    
